body {	
	 background-image: url("Pic.JPG");
 	 background-color: #white;
 	 background-repeat: no-repeat;
  	 background-attachment: fixed;
  	 background-position: center; 
  	 background-size: 720px 480px;

  	 color: darkblue;
  	 font-family: Courier New;
}

#main-title {
    color: dodgerblue;
    text-align: center;
    text-shadow: 0px 0px 10px mediumspringgreen;
}
.intro {
    color: darkblue;
    text-align: center;
    font-weight: bold;
}
.highlight {
    color: dodgerblue;
    font-weight: bold;
    text-shadow: 0px 0px 10px mediumspringgreen;
}