body {	
	 background-image: url("bad.png");
 	 background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center; 
   background-size: cover;
   font-family: "Apple Myungjo", serif;
   background-color: black;
}


h1 {
  position: absolute;
  top: 610px;
  left: 1250px;
  width: 300px;
  height: 200px;
  font-size: 200px;
  text-align: center;
  font-family: "Apple Myungjo", serif;
  color: red;
}

.button-link {
  position: absolute;
  top: 870px;
  left: 490px;
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  font-family: "Arial", serif;
  color: yellow;
  text-shadow: 0px 0px 10px mediumspringgreen;
  background-color: slategrey;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
}